
#Page créée mais il n'y a rien qui fonctionne !

<html>
<head>
  <title>Potins créés</title>
  </head>
<body>

PAGE POTIN
Voici la page du potin n°X
Son auteur : ==author==
Le contenu du potin : ==content==

Lien pour revenir à la page des potins
</body>
</html>

